<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DPEBinding" openTimeout="00:10:00" useDefaultWebProxy="true" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>    
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ImpersonationBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:40746/ChangeLogService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IChangeLogService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/UserService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IUserService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/ResourceService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IResourceService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/RoleService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IRoleService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/MasterDataService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IMasterDataService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/RightGroupService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IRightGroupService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/LoginService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ILoginService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/UserSettingService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IUserSettingService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/ProjectService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IProjectService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/CriteriaService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ICriteriaService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/CriterionSpecificationService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ICriterionSpecificationService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/LabelClusterService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ILabelClusterService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/ActiveDirectoryService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IActiveDirectoryService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/FunktionClusterService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IFunktionClusterService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/DDManService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IDDManService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/AKVSpecificationService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IAKVSpecificationService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/AKVWorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IAKVWorkflowService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/SoftwarereleaseService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ISoftwarereleaseService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/TicketService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ITicketService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/UserImportMapService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IUserImportMapService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="http://localhost:40746/PinboardService.svc" binding="basicHttpBinding" bindingConfiguration="DPEBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IPinboardService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="net.tcp://localhost:8880" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IAKVService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="net.tcp://localhost:8881" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.ISoftwareService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="net.tcp://localhost:8882" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IOpenItemListService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
      <endpoint address="net.tcp://localhost:8883" binding="netTcpBinding" bindingConfiguration="DPENetTcpBinding" contract="DCX.DPE.Common.Interfaces.WCFServices.IInformationItemService" name="" kind="" endpointConfiguration="" behaviorConfiguration="ImpersonationBehavior" />
    </client>
  </system.serviceModel>

</configuration>