<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamedHttp" maxReceivedMessageSize="67108864" transferMode="Streamed">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9009/StreamedService.svc" binding="basicHttpBinding" bindingConfiguration="StreamedHttp" contract="SharedLib.IStreamedService" name="" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>